* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.flexbox {
    display: flex;
}

header {
    background-color: #255ee9;
}

/* Area superiore del Header, relativo alla barra di navigazione */
.barraNav {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
}

.logo {
    flex-basis: 15%;
    height: 30px;
    margin: 0 50px;
}

.nav {
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav li>a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.nav li:hover {
    transform: scale(1.2);
    transition-duration: 400ms;
}

.accedi {
    flex-basis: 15%;
    margin: 0 auto;
    max-width: 80px;
    text-align: center;
    align-self: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 9px;
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}

.accedi:hover {
    background-color: rgb(223, 244, 250);
}

/* Area inferiore del Header, relativa all'area in cui è presente titolo, testo di presentazione e pulsanti */
.areaPrincipaleHeader {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.contenutooHeader {
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
    color: #fff;
}

.areaPrincipaleHeader h1 {
    padding: 80px 0 20px;
    font-size: 3.2rem;
}

.areaPrincipaleHeader p {
    padding: 20px 0 20px;
    font-size: 1.2rem;
    line-height: 30px;
}

.contenutooHeader input {
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 22px;
    margin: 0 12px 150px;
    font-size: 1.2rem;
}

.contenutooHeader input[value $="browser"] {
    color: #fff;
    background-color: #23272a;
}

.contenutooHeader input:hover {
    background-color: rgb(223, 244, 250);
    transform: scale(1.05);
    transition-duration: 400ms;
}

.contenutooHeader input[value $="browser"]:hover {
    background-color: #394046;
    transform: scale(1.05);
    transition-duration: 400ms;
}

/* Area principale della pagina, contenenti immagini e testo */
.areaContenitore {
    background-color: #fff;
}

.areaContenitore:nth-child(even) {
    background-color: #f6f6f6;
}

.ondaSuperiore {
    background-color: #fff;
}

.ondaInferiore {
    transform: rotate(180deg);
    background-color: #fff;
}

.areaTestoMain {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.img {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    margin: 100px 0px;
    max-width: 650px;
}

.contenutoTesto {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;

}

.contenutoTesto h2 {
    font-size: 2.8rem;
}

.contenutoTesto p {
    padding-top: 25px;
    font-size: 1.2rem;
    line-height: 25px;
}

.margineSinistro {
    margin-left: 120px;
}

.margineDestro {
    margin-right: 120px;
}

.flex-direction-column {
    flex-direction: column;
}

#styleTestoImmagine4{
    padding: 80px 0 30px;
}

#styleTestoImmagine4 p{
    text-align: center;
    max-width: 900px;
}

#styleImmagine4{
    width: 1050px;
    justify-content: center;
    align-self: center;
}

#styleImmagine4Inferiore{
    padding: 20px 50px;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    margin: 0px auto;
}

#styleImmagine4Inferiore h2{
    font-size: 1.7rem;
    padding: 20px 0 40px;
}

#styleImmagine4Inferiore input{
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    background-color: #8ea1e1;
    border: none;
    padding: 14px;
    font-size: 1.3rem;
    width: 220px;
    align-self: center;
    margin-bottom: 110px;
}

footer {
    background-color: blue;
}

/* Area superiore della pagina, contenenti area social e link */
.areaSuperioreFooter {
    max-width: 1200px;
    margin: 0 auto;
}

.areaSocial {
    flex-basis: 30%;
    background-color: yellow;
}

.imgSocial {
    width: 30px;
    height: 30px;
    border: 1px solid rebeccapurple;
    background-color: red;
}

.areaLink {
    flex-basis: calc(70% / 4);
    background-color: goldenrod;
    gap: 10px;
}

/* Area inferiore della pagina, contenenti logo e pulsante registrati */
.areaInferioreFooter {
    background-color: red;
    justify-content: space-between;
}