* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.flexbox {
    display: flex;
}

header {
    background-color: #255ee9;
}

/* Area superiore del Header, relativo alla barra di navigazione */
.barraNav {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
}

.logo {
    flex-basis: 15%;
    height: 30px;
}

.nav {
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}

.nav > a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.nav > a:hover {
    transform: scale(1.2);
    transition-duration: 400ms;
    color: #c6efff;
}

.accedi {
    flex-basis: 15%;
    margin: 0 auto;
    max-width: 80px;
    text-align: center;
    align-self: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 9px;
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}

.accedi:hover {
    background-color: rgb(223, 244, 250);
}

/* Area inferiore del Header, relativa all'area in cui è presente titolo, testo di presentazione e pulsanti */
.areaPrincipaleHeader {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.contenutooHeader{
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
    color: #fff;
}

.areaPrincipaleHeader h1 {
    padding: 80px 0 20px;
    font-size: 3.2rem;
}

.areaPrincipaleHeader p {
    padding: 20px 0 20px;
    font-size: 1.2rem;
    line-height: 30px;
}

.contenutooHeader input{
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 22px;
    margin: 0 12px 150px;
    font-size: 1.2rem;
}

.contenutooHeader input[value $="browser"]{
    color: #fff;
    background-color: #23272a;
}

.contenutooHeader input:hover{
    background-color: rgb(223, 244, 250);
    transform: scale(1.05);
    transition-duration: 400ms;
}

.contenutooHeader input[value $="browser"]:hover{
    background-color: #394046;
    transform: scale(1.05);
    transition-duration: 400ms;
}

/* Area principale della pagina, contenenti immagini e testo */
.areaContenitore {
    background-color: rgb(142, 232, 255);
    border-bottom: 3px dotted green;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.areaContenitore:nth-child(even) {
    background-color: rgb(142, 167, 255);
}

/* ---------inizio area da modificare--------- */
.img {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin: 50px 50px;
    flex-basis: 70%;
}

.contenutoTesto {
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    flex-basis: 30%;
}

/* ---------inizio area da eliminare--------- */
.img2 {
    border: 1px solid black;
    width: 800px;
    height: 450px;
    margin: 50px 50px;
}

.contenutoTesto2 {
    width: 800px;
    height: 100px;
    margin: 50px 50px;
}

/* ---------fine area da eliminare--------- */

.flex-direction-column {
    flex-direction: column;
}

.align-items {
    align-items: center;
}

footer {
    background-color: blue;
}

/* Area superiore della pagina, contenenti area social e link */
.areaSuperioreFooter {
    max-width: 1200px;
    margin: 0 auto;
}

.areaSocial {
    flex-basis: 30%;
    background-color: yellow;
}

.imgSocial {
    width: 30px;
    height: 30px;
    border: 1px solid rebeccapurple;
    background-color: red;
}

.areaLink {
    flex-basis: calc(70% / 4);
    background-color: goldenrod;
    gap: 10px;
}

/* Area inferiore della pagina, contenenti logo e pulsante registrati */
.areaInferioreFooter {
    background-color: red;
    justify-content: space-between;
}